
<footer class="page-footer font-small">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-2">Our Website</h5>

        <ul class="list-unstyled">
          <li>
            <a href="" [routerLink]="['/home']">Home Page</a>
          </li>
          <li>
            <a href="" [routerLink]="['/about']">About Us</a>
          </li>
        </ul>

      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-2">Buying and Selling Cars</h5>
        <ul class="list-unstyled">
          <li>
            <a href="" [routerLink]="['/adverts']">Find a Car</a>
          </li>
          <li>
            <a href="" [routerLink]="['/new-ad']">Sell your Car</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright: UserCars.com
  </div>

</footer>
