<div class="home-container">
  <div class="background-img">
    <h1 id="home-title">Find your next dream car</h1>
  
  </div>
  
</div>
<div class="container">
  <div class="card">
      <h2 id="card-title">Start Browsing</h2>
      <div class="card-body">
        <p class="card-text">Head to the list of cars available to start browsing, or register as a new user to unlock extra features</p>
        <div class="text-center">
          <button class="btn btn-primary btn-lg mr-2" [routerLink]="['/login']" >Register User</button>
          <button class="btn btn-info btn-lg" [routerLink]="['/adverts']" >To Car List</button>
        </div>
      </div>
  </div>
</div>

