img.img-thumbnail {
    height: 72px;
    min-width: 128px !important;
    margin-bottom: 2px;
}

.nv-file-over {
    border: dotted 3px lightblue;

}

input[type=file] {
    color: transparent;
}

.button-div {
    margin-top: 4%;
    margin-left: 5%; 
}