<div id="registerContainer" class="container mt-3">
  <form [formGroup]='registerForm' (ngSubmit)="register()">
    <h2 class="text-center text-primary mt-2">Sign Up</h2>
    <hr>
    
    <div class="form-group">
      <input 
      [ngClass]="{'is-invalid': registerForm.get('username').errors
      && registerForm.get('username').touched}" 
      type="text" 
      class="form-control" 
      formControlName="username" 
      placeholder="Username">
      <div class="invalid-feedback">Username is required</div>
    </div>

    <div class="form-group">
        <input
        [ngClass]="{'is-invalid': registerForm.get('email').errors
          && registerForm.get('email').touched}" 
        type="email" class="form-control" formControlName="email" placeholder="Email">
        <div class="invalid-feedback" *ngIf="registerForm.get('email').hasError('required')
          && registerForm.get('email').touched">Email address is required</div>
    </div>
    
    <div class="form-group">
      <input
      [ngClass]="{'is-invalid': registerForm.get('password').errors
        && registerForm.get('password').touched}"
      type="password" class="form-control" formControlName="password" placeholder="Password">
      <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('required')
        && registerForm.get('password').touched">Password is required</div>
      <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('minlength')
        && registerForm.get('password').touched">Password must be at least 8 characters</div>
      <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('maxlength')
        && registerForm.get('password').touched">Password cannot be longer than 32 characters</div>
    </div>
  
    <div class="form-group">
      <input
      [ngClass]="{'is-invalid': registerForm.get('confirmPassword').errors
        && registerForm.get('confirmPassword').touched 
        || registerForm.get('confirmPassword').touched 
        && registerForm.hasError('mismatch')}" 
      type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password">
      <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword').hasError('required')
        && registerForm.get('confirmPassword').touched">Password is required</div>
      <div class="invalid-feedback" *ngIf="registerForm.hasError('mismatch')
        && registerForm.get('confirmPassword').touched">Passwords must match</div>
    </div>
  
    <div class="form-group">
        <input
        [ngClass]="{'is-invalid': registerForm.get('birthdate').errors
          && registerForm.get('birthdate').touched}" 
        type="text" class="form-control" formControlName="birthdate" placeholder="Birthdate" bsDatepicker [bsConfig]='bsConfig'>
        <div class="invalid-feedback" *ngIf="registerForm.get('birthdate').hasError('required')
          && registerForm.get('birthdate').touched">Date of birth is required</div>
    </div>

    <div class="form-group">
      <label class="control-label" style="margin-right:10px">Gender: </label>
      <label class="radio-inline">
        <input class="mr-3" type="radio" value="male" formControlName="gender">
        Male
      </label>
      <label class="radio-inline ml-3">
        <input class="mr-3" type="radio" value="female" formControlName="gender">
        Female
      </label>
    </div>

    <div class="form-group">
        <input
        [ngClass]="{'is-invalid': registerForm.get('address').errors
          && registerForm.get('address').touched}" 
        type="text" class="form-control" formControlName="address" placeholder="Address">
        <div class="invalid-feedback" *ngIf="registerForm.get('address').hasError('maxlength')
          && registerForm.get('address').touched">Address cannot be longer than 64 characters</div>
    </div>

    <div class="form-group text-center">
      <button class="btn btn-success" [disabled]="!registerForm.valid" type="submit">Register</button>
      <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
    </div>
    

  </form>
  
  <p> {{registerForm.value | json}}</p>
  <p> {{registerForm.status | json}}</p>
</div>
