<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <h1>Your Profile</h1>

    </div>
  </div>
  <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top img-thumbnail" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="">
          <div class="card-body">
            <div>
              <strong>Username:</strong>
              <p>{{user?.username}}</p>
            </div>
            <div>
              <strong>Birthdate:</strong>
              <p>{{user?.birthdate}}</p>
            </div>
            <div>
              <strong [routerLink]="['/user/edit']">Edit Profile</strong>
            </div>
          </div>
          <div class="card-footer">
              <div class="btn-group d-flex">
                <button class="btn btn-primary w-100">Button 1</button>
                <button class="btn btn-success w-100">Button 2</button>
              </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="tab-panel">
          <tabset class="user-tabset">
            <tab heading="About User">
              <h4>Description</h4>
            </tab>
            <tab heading="Another tab">
              <h4>Tab 2</h4>
            </tab>
            <tab heading="Messages">
              <p>Messaging will come later</p>
            </tab>
            <tab heading="Adverts">
              <div class="row mt-2">
                <div *ngFor="let advert of adverts" class="col-lg-4 col-md-6 col-sm-12">
                  <app-compact-advert-card [advert]="advert"></app-compact-advert-card>
                </div> 
              </div>
            </tab>
          </tabset>
        </div>
      </div>
  </div>
</div>
