<div class="container mt-5">
  <div id="notification" class="mt-3 mb-4" [hidden]="!isExpired()">
    <h6>This advert has been marked as sold and is therefore removed from the advert listings.</h6>
  </div>
  <div class="row">
    <div [hidden]="!isOwner()">
      <h3>This is your advert</h3>
      <div class="mt-2 mb-5" >
        <button class="btn btn-primary w-100" [hidden]="isExpired()" (click)="editAdvert()">Edit</button>
        <a [hidden]="!isActive()" (click)="changeStatus()">Mark as sold</a>
        <a [hidden]="!isExpired()" (click)="changeStatus()">Mark as active</a>
    </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <img class="card-img-top img-thumbnail" src="{{advert?.photoUrl || '../../assets/blank-profile-picture.png'}}" alt="">
            <div class="card-body">
              <div>
                <strong>Car:</strong>
                <p>{{advert.make}} {{advert.model}} {{advert.trim}}</p>
              </div>
              <div>
                <strong>Location:</strong>
                <p>{{advert.location}}</p>
              </div>
              <div>
                <strong>Price:</strong>
                <p>{{advert.price}} kr</p>
              </div>
              <div>
                <strong>Horsepower:</strong>
                <p>{{advert.horsePower}}</p>
              </div>
              <div>
                <strong>Fuel Type:</strong>
                <p>{{advert.fuelType}}</p>
              </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                  <button class="btn btn-primary w-100">Button 1</button>
                  <button class="btn btn-success w-100">Button 2</button>
                </div>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="tab-panel">
            <tabset class="advert-tabset">
              <tab heading="About Car">
                <h4>Description</h4>
                <p>{{advert.description}}</p>
              </tab>
              <tab heading="Another tab">
                <h4>Tab 2</h4>
                <p>{{advert.driveType}}</p>
              </tab>
              <tab heading="Photos">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
              </tab>
              <tab heading="Messages">
                <p>Messaging will come later</p>
              </tab>
            </tabset>
          </div>
        </div>
    </div>
  </div>
</div>
