<div class="container mt-5">
  <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top img-thumbnail" src="{{advert?.photoUrl}}" alt="">
          <div class="card-body">
            <div>
              <strong>Car:</strong>
              <p>{{advert.make}} {{advert.model}} {{advert.trim}}</p>
            </div>
            <div>
              <strong>Location:</strong>
              <p>{{advert.location}}</p>
            </div>
            <div>
              <strong>Price:</strong>
              <p>{{advert.price}} kr</p>
            </div>
            <div>
              <strong>Horsepower:</strong>
              <p>{{advert.horsePower}}</p>
            </div>
            <div>
              <strong>Fuel Type:</strong>
              <p>{{advert.fuelType}}</p>
            </div>
          </div>
          <div class="card-footer">
              <div class="btn-group d-flex">
                <button class="btn btn-primary w-100">Button 1</button>
                <button class="btn btn-success w-100">Button 2</button>
              </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="tab-panel">
          <tabset class="advert-tabset">
            <tab heading="About Car">
              <h4>Description</h4>
              <p>{{advert.description}}</p>
            </tab>
            <tab heading="Another tab">
              <h4>Tab 2</h4>
              <p>{{advert.driveType}}</p>
            </tab>
            <tab heading="Photos">
              <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
            </tab>
            <tab heading="Messages">
              <p>Messaging will come later</p>
            </tab>
          </tabset>
        </div>
      </div>
  </div>
</div>
