<div class="container mt-5">
  <div class="alert alert-info mt-3 mb-4" [hidden]="!isExpired()">
    <p><strong>Information: </strong>This advert has been marked as sold and is therefore removed from the advert listings.</p>
  </div>
  <div class="row">
    <div [hidden]="!isOwner()">
      <h3>This is your advert</h3>
      <div class="mt-2 mb-5" >
        <button class="btn btn-primary w-100" [hidden]="isExpired()" (click)="editAdvert()">Edit</button>
        <a [hidden]="!isActive()" (click)="changeStatus()">Mark as sold</a>
        <a [hidden]="!isExpired()" (click)="changeStatus()">Mark as active</a>
    </div>
    </div>
    <div class="row mb-5">
        <div class="col-sm-8">
          <div id="gallery" class="container mb-3">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
          </div>
          <h4>{{advert.title}}</h4>
          <p>{{advert.modelYear}} {{advert.make}} {{advert.model}} {{advert.trim}}, 
             {{advert.mileage}}km, {{advert.price}} kr</p>
          <hr>
          <h5>Description</h5>
          <p>{{advert.description}}</p>
          <h5>Location</h5>
          <p>{{advert.location}}</p>
          <hr>
          <h5>Contact Info</h5>
          <p>{{advert.contactInfo}}</p>
        </div>
        <div class="col-sm-4 ">
          <div class="card">
            <div class="card-body mt-3">
              <div>
                <strong>Car:</strong>
                <p>{{advert.make}} {{advert.model}} {{advert?.trim}}</p>
              </div>
              <div>
                <strong>Model Year:</strong>
                <p>{{advert.modelYear}}</p>
              </div>
              <div>
                <strong>Registernumber:</strong>
                <p>{{advert.registerNumber}}</p>
              </div>
              <div>
                <strong>Colour:</strong>
                <p>{{advert.colour}}</p>
              </div>
              <div>
                <strong>Number of seats:</strong>
                <p>{{advert.seatNumber}}</p>
              </div>
              <div>
                <strong>Transmission:</strong>
                <p>{{advert.transmissionType}}</p>
              </div>
              <div>
                <strong>Drive:</strong>
                <p>{{advert.driveType}}</p>
              </div>
              <div>
                <strong>Fuel Type:</strong>
                <p>{{advert.fuelType}}</p>
              </div>
              <div>
                <strong>Horsepower:</strong>
                <p>{{advert.horsePower}}</p>
              </div>
              <div>
                <strong>Bodystyle:</strong>
                <p>{{advert.bodyStyle}}</p>
              </div>
              <div>
                <strong>Mileage:</strong>
                <p>{{advert.mileage}} km</p>
              </div>
              <div>
                <strong>Price:</strong>
                <p>{{advert.price}} kr</p>
              </div>
              <div>
                <strong>Weight:</strong>
                <p>{{advert.weight}} kg</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
