<div class="container">
  <div id="loginContainer" class="container mt-3" *ngIf="!registerMode">
    <form #loginForm="ngForm" (ngSubmit)="login()">
      <h2 class="text-center text-primary mt-2">Login</h2>
      <hr>
      <div class="form-group">
        <input class="form-control mr-2" type="text" name="username" placeholder="Username" required [(ngModel)]="model.username">
      </div>
      <div class="form-group">
        <input class="form-control" type="password" name="password" placeholder="Password" required [(ngModel)]="model.password">
      </div>
      <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-md-0" type="submit">Login</button>
    </form>
    <a (click)=registerToggle()>Don't have a user? Click here to register</a>
  </div>

  <div *ngIf="registerMode">
    <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
  </div>
</div>
