<div class="container mt-3 mb-4">
  <button class="btn btn-primary" (click)="backToAdvert()">Back to advert</button>
  <div class="alert alert-info mt-2" [hidden]="isActive()">
    <p><strong>Information:</strong> advert is currently inactive. Press the 'Make advert active' button when you are done filling out the form to make it visible to others</p>
  </div>
  <div *ngIf="advertEditForm.dirty" class="alert alert-info mt-2">
    <p><strong>Information:</strong> You have unsaved changes</p>
  </div>
</div>
<div id="advertEditContainer" class="container mt-3 mb-3">
  <h2 class="mt-4">Edit Advert</h2>
  <form id="advertEditForm" #advertEditForm="ngForm" (ngSubmit)="makeAdvertPublic()">
    <div class="form-group">
      <label for="registerNumber">Registration Number: </label>
      <input class="form-control" type="text" name="registerNumber"
       required minlength="6" [(ngModel)]="advert.registerNumber">
    </div>
    <div class="form-group">
      <label for="make">Make:</label>
      <input class="form-control" type="text" required name="make" [(ngModel)]="advert.make">
    </div>
    <div class="form-group">
      <label for="model">Model:</label>
      <input class="form-control" type="text" required name="model" [(ngModel)]="advert.model">
    </div>
    <div class="form-group">
      <label for="trim">Trim:</label>
      <input class="form-control" type="text" name="trim" [(ngModel)]="advert.trim">
    </div>
    <div class="form-group">
      <label for="trim">Model Year:</label>
      <input class="form-control" type="number" required name="modelYear" [(ngModel)]="advert.modelYear">
    </div>
    <h3>Photos</h3>
    <app-photo-editor [photos]="advert.photos" [advertId]="advert.id"></app-photo-editor>
    <h3>Technical Specs</h3>
    <div class="form-group">
      <label for="transmissionType">Transmission Type:</label>
      <select class="form-control" id="transmissionType" name="transmissionType" [(ngModel)]="advert.transmissionType">
        <option *ngFor="let transmission of transmissionList" [value]="transmission.transmissionType">
          {{transmission.transmissionType}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="driveType">Drive Type:</label>
      <select class="form-control" id="driveType" name="driveType" [(ngModel)]="advert.driveType">
        <option *ngFor="let drive of driveList" [value]="drive.driveType">
          {{drive.driveType}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="fuelType">Fuel Type:</label>
      <select class="form-control" id="fuelType" name="fuelType" [(ngModel)]="advert.fuelType">
        <option *ngFor="let fuel of fuelList" [value]="fuel.fuelType">
          {{fuel.fuelType}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="horsePower">Horsepower:</label>
      <input class="form-control" type="text" name="horsePower" [(ngModel)]="advert.horsePower">
    </div>
    <div class="form-group">
      <label for="weight">Weight:</label>
      <input class="form-control" type="number" name="weight" [(ngModel)]="advert.weight">
    </div>
    <h3>Colour & Bodystyle</h3>
    <div class="form-group">
      <label for="colour">Colour:</label>
      <select class="form-control" id="colour" name="colour" [(ngModel)]="advert.colour">
        <option *ngFor="let colour of colourList" [value]="colour.colourName">
          {{colour.colourName}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="bodyStyle">Body Style:</label>
      <select class="form-control" id="bodyStyle" name="bodyStyle" [(ngModel)]="advert.bodyStyle">
        <option *ngFor="let bodyStyle of bodyStyleList" [value]="bodyStyle.bodyStyleType">
          {{bodyStyle.bodyStyleType}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="seatNumber">Number of Seats:</label>
      <input class="form-control" type="number" name="seatNumber" [(ngModel)]="advert.seatNumber">
    </div>
    <h3>Advert Info</h3>
    <div class="form-group">
      <label for="title">Title:</label>
      <input class="form-control" type="text" name="title" required maxlength="100" [(ngModel)]="advert.title">
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control" rows="8" name="description" required maxlength="1000" [(ngModel)]="advert.description"></textarea>
    </div>
    <div class="form-group">
        <label for="location">Location:</label>
        <input class="form-control" type="text" name="location" required maxlength="100" [(ngModel)]="advert.location">
    </div>
    <div class="form-group">
      <label for="location">Contact Info:</label>
      <input class="form-control" type="text" name="contactInfo" required maxlength="150" [(ngModel)]="advert.contactInfo">
  </div>
    <div class="form-group">
        <label for="mileage">Mileage:</label>
        <input class="form-control" type="number" name="mileage" required [(ngModel)]="advert.mileage">
    </div>
    <div class="form-group">
        <label for="price">Price:</label>
        <input class="form-control" type="number" name="price" required [(ngModel)]="advert.price">
    </div>
    <div class="form-group text-center">
      <button form="advertEditForm" class="btn btn-primary w-100"  type="button" 
              [disabled]="!advertEditForm.dirty" (click)="updateAdvert()">Save Changes</button>
      <button *ngIf="!isActive()" form="advertEditForm" class="btn btn-success w-100 mt-3 mb-4" 
              [disabled]="advertEditForm.dirty || !advertEditForm.valid">Make Advert Public</button>
    </div>
  </form>
</div>
