<div id="container" class="container mt-3 mb-4" [hidden]="isActive()">
    <p>The advert is currently inactive. Press the 'Make advert active' button when you are done filling out the form to make it visible to others</p>
</div>
<div *ngIf="advertEditForm.dirty" class="alert alert-info">
  <p><strong>Information:</strong> You have unsaved changes</p>
</div>
<div id="formContainer" class="container mt-3 mb-3">
  <h2>Edit Advert</h2>
  <form id="advertEditForm" #advertEditForm="ngForm" (ngSubmit)="updateAdvert()">
    <div class="form-group">
      <label for="registerNumber">Registration Number: </label>
      <input class="form-control" type="text" name="registerNumber" [(ngModel)]="advert.registerNumber">
    </div>
    <div class="form-group">
      <label for="make">Make:</label>
      <input class="form-control" type="text" name="make" [(ngModel)]="advert.make">
    </div>
    <div class="form-group">
      <label for="model">Model:</label>
      <input class="form-control" type="text" name="model" [(ngModel)]="advert.model">
    </div>
    <div class="form-group">
      <label for="trim">Trim:</label>
      <input class="form-control" type="text" name="trim" [(ngModel)]="advert.trim">
    </div>
    <div class="form-group">
      <label for="trim">Model Year:</label>
      <input class="form-control" type="text" name="modelYear" [(ngModel)]="advert.modelYear">
    </div>
    <h3>Divider</h3>
    <app-photo-editor [photos]="advert.photos" [advertId]="advert.id"></app-photo-editor>
    <h3>Divider</h3>
    <div class="form-group">
      <label for="transmissionType">Transmission Type:</label>
      <input class="form-control" type="text" name="transmissionType" [(ngModel)]="advert.transmissionType">
    </div>
    <div class="form-group">
      <label for="driveType">Drive Type:</label>
      <input class="form-control" type="text" name="driveType" [(ngModel)]="advert.driveType">
    </div>
    <div class="form-group">
      <label for="fuelType">Fuel Type:</label>
      <input class="form-control" type="text" name="fuelType" [(ngModel)]="advert.fuelType">
    </div>
    <div class="form-group">
      <label for="horsePower">Horsepower:</label>
      <input class="form-control" type="text" name="horsePower" [(ngModel)]="advert.horsePower">
    </div>
    <h3>Divider</h3>
    <div class="form-group">
      <label for="colour">Colour:</label>
      <input class="form-control" type="text" name="colour" [(ngModel)]="advert.colour">
    </div>
    <div class="form-group">
      <label for="bodyStyle">Body Style:</label>
      <input class="form-control" type="text" name="bodyStyle" [(ngModel)]="advert.bodyStyle">
    </div>
    <div class="form-group">
      <label for="seatNumber">Number of Seats:</label>
      <input class="form-control" type="text" name="seatNumber" [(ngModel)]="advert.seatNumber">
    </div>
    <div class="form-group">
      <label for="weight">Weight:</label>
      <input class="form-control" type="text" name="weight" [(ngModel)]="advert.weight">
    </div>
    <h3>Divider</h3>
    <div class="form-group">
      <label for="title">Title:</label>
      <input class="form-control" type="text" name="title" [(ngModel)]="advert.title">
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control" rows="8" name="description" [(ngModel)]="advert.description"></textarea>
    </div>
    <div class="form-group">
        <label for="location">Location:</label>
        <input class="form-control" type="text" name="location" [(ngModel)]="advert.location">
    </div>
    <div class="form-group">
        <label for="mileage">Mileage:</label>
        <input class="form-control" type="text" name="mileage" [(ngModel)]="advert.mileage">
    </div>
    <div class="form-group">
        <label for="price">Price:</label>
        <input class="form-control" type="text" name="price" [(ngModel)]="advert.price">
    </div>
    <div class="form-group text-center">
      <button form="advertEditForm" class="btn btn-primary w-100"  type="button" [disabled]="!advertEditForm.dirty" (click)="updateAdvert()">Save Changes</button>
      <button form="advertEditForm" class="btn btn-success w-100 mt-3 mb-4" [disabled]="!advertEditForm.dirty">Make Advert Public</button>
    </div>
  </form>
</div>
