#formContainer {
    width: 40%;
    background-color: #f2f2f2;
    border-style: solid;
    border-width: 1px;
}

#container {
    width: 40%;
    opacity: 80%;
    background-color: lightblue;
}

input {
    margin: 0;
    padding: 0;
}

#test {
    margin: 0;
    padding: 0;
}