<div class="container mt-5">
  <div class="row">
    <div id="filter-column" class="column">
      <form id="filter-form" #form="ngForm" (ngSubmit)="loadAdverts()" novalidate>
        <div class="form-group">
          <label for="make">Make: </label>
          <input type=string class="form-control" id="make" name="make" [(ngModel)]="advertParams.make">
        </div>
        <div class="form-group">
          <label for="model">Model: </label>
          <input type=string class="form-control" id="model" name="model" [(ngModel)]="advertParams.model">
        </div>

        <div class="form-group">
          <label for="transmissionType">Transmission: </label>
          <select class="form-control" id="transmissionType" name="transmissionType" [(ngModel)]="advertParams.transmissionType">
            <option *ngFor="let transmission of transmissionList" [value]="transmission.transmissionType">
              {{transmission.transmissionType}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="driveType">Drive: </label>
          <select class="form-control" id="driveType" name="driveType" [(ngModel)]="advertParams.driveType">
            <option *ngFor="let drive of driveList" [value]="drive.driveType">
              {{drive.driveType}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="fuelType">Fuel: </label>
          <select class="form-control" id="fuelType" name="fuelType" [(ngModel)]="advertParams.fuelType">
            <option *ngFor="let fuel of fuelList" [value]="fuel.fuelType">
              {{fuel.fuelType}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="colour">Colour: </label>
          <select class="form-control" id="colour" name="colour" [(ngModel)]="advertParams.colour">
            <option *ngFor="let colour of colourList" [value]="colour.colourName">
              {{colour.colourName}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="bodyStyle">Bodystyle: </label>
          <select class="form-control" id="bodyStyle" name="bodyStyle" [(ngModel)]="advertParams.bodyStyle">
            <option *ngFor="let bodyStyle of bodyStyleList" [value]="bodyStyle.bodyStyleType">
              {{bodyStyle.bodyStyleType}}
            </option>
          </select>
        </div>

        

        <label for="Price">Price in kr: </label>
        <div name="price" class="form-row">
          <div class="col">
            <input type="number" class="form-control" id="minPrice" name="minPrice" placeholder="min" [(ngModel)]="advertParams.minPrice">
          </div>
          <div class="col">
            <input type="number" class="form-control" id="maxPrice" name="maxPrice" placeholder="max" [(ngModel)]="advertParams.maxPrice">
          </div>
        </div>

        <label for="modelYear"> Model Year: </label>
        <div name="modelYear" class="form-row">
          <div class="col">
            <input type="number" class="form-control" id="minModelYear" name="minModelYear" placeholder="min" [(ngModel)]="advertParams.minModelYear">
          </div>
          <div class="col">
            <input type="number" class="form-control" id="maxModelYear" name="maxModelYear" placeholder="max" [(ngModel)]="advertParams.maxModelYear">
          </div>
        </div>

        <label for="horsePower">Horsepower: </label>
        <div name="horsePower" class="form-row">
          <div class="col">
            <input type="number" class="form-control" id="minHorsePower" name="minHorsePower" placeholder="min" [(ngModel)]="advertParams.minHorsePower">
          </div>
          <div class="col">
            <input type="number" class="form-control" id="maxHorsePower" name="maxHorsePower" placeholder="max" [(ngModel)]="advertParams.maxHorsePower">
          </div>
        </div>

        <label for="mileage">Mileage in km: </label>
        <div name="mileage" class="form-row">
          <div class="col">
            <input type="number" class="form-control" id="minMileage" name="minMileage" placeholder="min" [(ngModel)]="advertParams.minMileage">
          </div>
          <div class="col">
            <input type="number" class="form-control" id="maxMileage" name="maxMileage" placeholder="max" [(ngModel)]="advertParams.maxMileage">
          </div>
        </div>

        <label for="seatNumber">Number of Seats</label>
        <div name="seatNumber" class="form-row">
          <div class="col">
            <input type="number" class="form-control" id="minSeatNumber" name="minSeatNumber" placeholder="min" [(ngModel)]="advertParams.minSeatNumber">
          </div>
          <div class="col">
            <input type="number" class="form-control" id="maxSeatNumber" name="maxSeatNumber" placeholder="max" [(ngModel)]="advertParams.maxSeatNumber">
          </div>
        </div>

        <label for="weight"> Weight in kg: </label>
        <div name="weight" class="form-row">
          <div class="col">
            <input type="number" class="form-control" id="minWeight" name="minWeight" placeholder="min" [(ngModel)]="advertParams.minWeight">
          </div>
          <div class="col">
            <input type="number" class="form-control" id="maxWeight" name="maxWeight" placeholder="max" [(ngModel)]="advertParams.maxWeight">
          </div>
        </div>

        <div class="form-group row">
            <button type="submit" class="btn btn-primary col-sm">Apply Filters</button>
            <button type="button" class="btn btn-info col-sm" (click)="resetFilters()">Reset Filter</button>
        </div>
      </form>
    </div>
    <div class="column">
        <div *ngFor="let advert of adverts" class="col-lg-12 col-md-12 col-sm-12">
          <app-advert-card [advert]="advert"></app-advert-card>
        </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <pagination [boundaryLinks]="true" 
              [totalItems]="pagination.totalItems"
              [itemsPerPage]="pagination.itemsPerPage"
              [(ngModel)]="pagination.currentPage"
              (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
 
  </pagination>
</div>